body {
    font-family: 'Nunito', sans-serif;
    text-align: left;

}
footer{
  background: #eee;
  padding:20px;
  text-align: center;
}

.container{
background: #eee;
  padding:20px;
  text-align: left;
}

.views{
    background: white;
     
      text-align: left;
    }

 .form-group{
    background-color: wheat;
    
 }